## Editors
*~
.*.sw[op]
.project
.idea
.pydevproject
.vscode

## VCS
/.bzr

## Python
/.eggs
*.pyc
*.egg-info
/build
terminatorc
remotinatorc
terminatorlib/meliae
/dist
/MANIFEST
/.pybuild
/*.deb
/*.buildinfo
/*.changes

## language / intltool related files
.intltool*
data/terminator.appdata.xml
data/terminator.desktop
data/terminator.metainfo.xml

## Debian build artifacts
/debian/.debhelper
/debian/terminator
/debian/debhelper-build-stamp
/debian/files
/debian/*.debhelper
/debian/*.substvars
