## Editors
*~
.*.sw[op]
.project
.idea
.pydevproject

## VCS
/.bzr

## Python
*.pyc
*.egg-info
/build
terminatorc
remotinatorc
terminatorlib/meliae

## language / intltool related files
.intltool*
data/terminator.appdata.xml
data/terminator.desktop
