Andrea Corbellini <corbellini.andrea@gmail.com> <andrea.corbellini@beeseek.org>
Bryce Harrington <bryce@bryceharrington.org>
Chris Jones <cmsj@tenshu.net> <cmsj@kodachi>
Chris Jones <cmsj@tenshu.net> <cmsj@tenshu>
Chris Jones <cmsj@tenshu.net> <cmsj@waishou>
Chris Jones <cmsj@tenshu.net> <root@kodachi>
Chris Jones <cmsj@tenshu.net> cmsj@canonical.com <>
Daniel T Chen <crimsun@ubuntu.com> <crimsun@errno>
David Caro Estévez <david.caro.estevez@gmail.com> <David>
Dmitry Soldatov <grapescan@gmail.com> <boh@veteran>
Emmanuel Bretelle <chantra@debuntu.org> <chantra@ketu>
Emmanuel Bretelle <chantra@debuntu.org> <chantra@mangal>
Emmanuel Bretelle <chantra@debuntu.org> <ebretelle@mangal>
Jose I. Monreal <jmonreal@gmail.com> <jmonreal@Nidaime>
Mackenzie Morgan <maco.m@ubuntu.com> <maco@betty>
Markus Frosch <markus@lazyfrosch.de> <lazyfrosch@debian.org>
Nicolas Valcárcel <nvalcarcel@ubuntu.com> <nvalcarcel@canonical.com>
Nicolas Valcárcel <nvalcarcel@ubuntu.com> <nvalcarcel@ubuntu-pe.org>
Nicolas Valcárcel <nvalcarcel@ubuntu.com> <nvalcarcel@ubuntu.com>
Nicolas Valcárcel <nvalcarcel@ubuntu.com> <nxvl@LePew>
Nicolas Valcárcel <nvalcarcel@ubuntu.com> <nxvl@stable>
Pavel Khlebovich <pas.anddev@gmail.com> <pas@pas-desktop>
Peter Bjørn Jørgensen <peterbjorgensen@gmail.com> <peter@arch>
Thomas Hurst <tom@hur.st> <freaky@udat.nightsdawn.sf>
judgedreads <pearce@millerdedmon.com> judgedreads pearce@millerdedmon.com <>
