include .gitignore
include data/terminator.appdata.xml.in data/terminator.desktop.in
include data/fonts/*.ttf data/fonts/LICENSE
include tests/*
include INSTALL.md README.md
exclude po/.intltool-merge-cache
