[Desktop Entry]
Encoding=UTF-8
Name=Terminator
Name[am]=
Name[ar]=
Name[as]=
Name[az]=
Name[be]=Terminator
Name[be@latin]=Terminator
Name[bg]=
Name[bn]=
Name[bn_IN]=
Name[bs]=
Name[ca]=
Name[cs]=
Name[cy]=
Name[da]=
Name[de]=
Name[dz]=
Name[el]=
Name[en_CA]=Terminator
Name[en_GB]=Terminator
Name[es]=Terminator
Name[et]=
Name[eu]=
Name[fa]=
Name[fi]=
Name[fr]=
Name[ga]=
Name[gl]=
Name[gu]=
Name[he]=
Name[hi]=
Name[hr]=
Name[hu]=
Name[hy]=
Name[id]=
Name[it]=
Name[ja]=
Name[ka]=
Name[ko]=
Name[ku]=
Name[lt]=
Name[lv]=
Name[mg]=
Name[mk]=
Name[ml]=
Name[mn]=
Name[mr]=
Name[ms]=
Name[nb]=
Name[ne]=
Name[nl]=
Name[nn]=
Name[oc]=
Name[or]=
Name[pa]=
Name[pl]=
Name[pt]=
Name[pt_BR]=
Name[ro]=
Name[ru]=
Name[si]=
Name[sk]=
Name[sl]=
Name[sq]=
Name[sr]=
Name[sr@Latn]=
Name[sv]=
Name[ta]=
Name[th]=
Name[tr]=
Name[uk]=
Name[vi]=
Name[wa]=
Name[xh]=
Name[zh_CN]=
Name[zh_HK]=
Name[zh_TW]=
Comment=Multiple terminals in one window
Comment[ar]=
Comment[as]=
Comment[be]=Meerdere terminals in een venster
Comment[be@latin]=Meerdere terminals in een venster
Comment[bg]=
Comment[bn]=
Comment[bn_IN]=
Comment[ca]=
Comment[cs]=
Comment[cy]=
Comment[da]=
Comment[de]=
Comment[dz]=
Comment[el]=
Comment[en_CA]=Multiple terminals in one window
Comment[en_GB]=Multiple terminals in one window
Comment[es]=Multiples terminales en una ventana
Comment[et]=
Comment[eu]=
Comment[fa]=
Comment[fi]=
Comment[fr]=
Comment[gl]=
Comment[gu]=
Comment[he]=
Comment[hi]=
Comment[hu]=
Comment[id]=
Comment[it]=
Comment[ja]=
Comment[ka]=
Comment[ko]=
Comment[ku]=
Comment[lt]=
Comment[lv]=
Comment[mg]=
Comment[mk]=
Comment[ml]=
Comment[mr]=
Comment[nb]=
Comment[nl]=
Comment[nn]=
Comment[oc]=
Comment[pa]=
Comment[pl]=
Comment[pt]=
Comment[pt_BR]=
Comment[ro]=
Comment[ru]=
Comment[sk]=
Comment[sl]=
Comment[sq]=
Comment[sr]=
Comment[sr@Latn]=
Comment[sv]=
Comment[ta]=
Comment[th]=
Comment[tr]=
Comment[uk]=
Comment[vi]=
Comment[wa]=
Comment[zh_CN]=
Comment[zh_HK]=
Comment[zh_TW]=
TryExec=terminator
Exec=terminator
Icon=gnome-terminal.png
Type=Application
X-GNOME-DocPath=
X-GNOME-Bugzilla-Bugzilla=
X-GNOME-Bugzilla-Product=
X-GNOME-Bugzilla-Component=
X-GNOME-Bugzilla-Version=
Categories=GNOME;GTK;Utility;TerminalEmulator;
StartupNotify=true
X-Ubuntu-Gettext-Domain=terminator
