Source: terminator
Section: misc
XS-Python-Version: all
Priority: optional
Maintainer: Terminator Developers <gnome-terminator@lists.launchpad.net>
Build-Depends: debhelper (>= 5.0.62), python, cdbs (>=0.4.49)
Build-Depends-Indep: python-central (>= 0.5.6)
Standards-Version: 3.7.3
Vcs-Bzr: http://bazaar.launchpad.net/~gnome-terminator/terminator/trunk
Vcs-Browser: http://code.launchpad.net/~gnome-terminator/terminator/trunk
Homepage: http://www.tenshu.net/terminator/

Package: terminator
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-vte, python-gconf, gconf2, libgtk2.0-bin
XB-Python-Version: ${python:Versions}
Recommends: xdg-utils, python-xdg
Description: Multiple GNOME terminals in one window
 Terminator is a little project to produce an efficient way of 
 filling a large area of screen space with terminals.
 .
 The user can have multiple terminals in one window and use
 keybindings to switch between them. See the manpage for
 details.
