Source: terminator
Section: misc
XS-Python-Version: all
Priority: optional
Maintainer: Chris Jones <cmsj@tenshu.net>
Build-Depends-Indep: debhelper (>= 5.0.38), python, python-central (>= 0.5.6), cdbs (>=0.4.49), python-vte
Standards-Version: > 3.7.3

Package: terminator
Architecture: all
Depends: ${python:Depends}, python-vte, python-gconf, gconf2
XB-Python-Version: ${python:Versions}
Description: Multiple GNOME terminals in one window
 Terminator, multiple terminals in one window. This is a little
 project to produce an efficient way of filling a large area of
 screen space with terminals.
