[Desktop Entry]
Name=Terminator
Comment=Multiple terminals in one window
Comment[be]=Meerdere terminals in een venster
Comment[be@latin]=Meerdere terminals in een venster
Comment[en_CA]=Multiple terminals in one window
Comment[en_GB]=Multiple terminals in one window
Comment[es]=Multiples terminales en una ventana
TryExec=terminator
Exec=terminator
Icon=terminator
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;
StartupNotify=true
X-Ubuntu-Gettext-Domain=terminator
